.about {
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    height: 50rem;
    margin: 0 4rem 2rem 0;
    float: left;
    box-shadow: 0px 5px 14px -4px #000000;
  }
  &__text {
    width: 75%;
  }
  &__p {
    color: $color2;
    // margin-left: 4rem;
    margin-bottom: 4rem;
  }
  &__firstLetter {
    &::first-letter {
      font-size: 4rem;
      font-weight: bold;
    }
  }
}
