$color1: #fff;
$color2: #000;
$color3: #ccc;
$color4: #383e42;
$color5: #828282ce;

$extra-small: 21.9em;
$small: 37.5em;
$medium: 48em;
$large: 62em;
$extra: 75em;
$extra-large: 90em;
// @media only screen and (max-width: $medium) {...};

//////////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $extra) {
    font-size: 60%;
  }
  @media only screen and (max-width: $large) {
    font-size: 50%;
  }
  @media only screen and (max-width: $medium) {
    font-size: 45%;
  }
  @media only screen and (max-width: $small) {
    font-size: 40%;
  }
  @media only screen and (max-width: $extra-small) {
    font-size: 35%;
  }
}

body {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border-bottom: 8px solid $color2;
    border-radius: 10px;
    width: 39%;
    top: 7rem;
    right: 0;
  }
  &::after {
    content: "";
    position: absolute;
    border-bottom: 8px solid $color2;
    border-radius: 10px;
    width: 39%;
    top: 7rem;
    left: 0;
  }
}

h1 {
  color: $color1;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-shadow: 0px 10px 9px rgb(105, 105, 105);
}
h2 {
  color: $color2;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5rem 0;
  //text-shadow: 0px 3px 9px rgb(105, 105, 105);
}
h3 {
  color: $color2;
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  @media only screen and (max-width: $medium) {
    font-size: 2.5rem;
  }
}
h4 {
  color: $color1;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
  &::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid $color1;
    width: 7rem;
    margin-top: 3rem;
  }
}
p {
  color: $color1;
  font-size: 2rem;
}

.active {
  background: red;
}
