$color1: #fff;
$color2: #000;
$color3: #ccc;

$extra-small: 21.9em;
$small: 37.5em;
$medium: 48em;
$large: 62em;
$extra: 75em;
$extra-large: 90em;
// @media only screen and (max-width: 600px) {...};

//////////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $extra) {
    font-size: 60%;
  }
  @media only screen and (max-width: $large) {
    font-size: 50%;
  }
  @media only screen and (max-width: $medium) {
    font-size: 45%;
  }
  @media only screen and (max-width: $small) {
    font-size: 40%;
  }
  @media only screen and (max-width: $extra-small) {
    font-size: 35%;
  }
}

body {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
}

h1 {
  color: $color1;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-shadow: 0px 10px 9px rgb(105, 105, 105);
}
h2 {
  color: $color2;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5rem 0;
  text-shadow: 0px 3px 9px rgb(105, 105, 105);
}
p {
  color: $color1;
  font-size: 2rem;
}
