.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color4;
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__box {
    width: 30rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $medium) {
      width: 25rem;
      height: 30rem;
    }
    @media only screen and (max-width: $small) {
      width: 30rem;
      height: 25rem;
    }
  }
  &__logo {
    width: 20rem;
  }
  &__textwrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__textbox {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 15rem;
  }
  &__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: $color1;
    margin: 0.5rem 0;
    transition: all 0.3s;
    &:hover {
      color: $color3;
    }
  }
  &__icon {
    font-size: 4rem;
    transition: all 0.3s;
    &:hover {
      transform: scale(0.95);
    }
  }
}
